.jumbotron {
    background-color: yellow;
    color: black;
    margin-bottom: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-hotel {
    flex: 1 250px;
    padding: 2px 5px;
    margin-top: 10px;
    border: none;
    background-color: beige;
}

.btn-reserva {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0;
    margin-top: 10px;
}

.footer-icon {
    padding-right: 10px;
}

.img-hotel {
    margin-bottom: 10px;
}

.img-banner {
    margin-top: 0;
    margin-bottom: 20px;
}

.blog-autor {
    font-size: 15px;
}

.tab-content {
    padding-top: 10px;
}