//Definiendo variables
$yellow: #f3ed71;
$beige: rgb(240, 240, 228);
$black: #000000;
//Definiendo un Mixin
@mixin margin($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($ptop, $pbottom, $pright, $plef) {
    padding-top: $ptop;
    padding-bottom: $pbottom;
    padding-right: $pright;
    padding-left: $plef;
}

.jumbotron {
    background-color: $yellow;
    color: $black;
    @include margin(50px, 50px);
}

.card-hotel {
    flex: 1 250px;
    @include padding(2px, 5px, 2px, 5px);
    @include margin(10px, 0);
    border: none;
    background-color: $beige;
}

.btn-reserva {
    width: 100%;
    @include margin(10px, 0);
}

footer {
    background-color: $yellow;
    @include padding(10px, 10px, 0, 10px);
    @include margin(10px, 0)
}

.footer-icon {
    @include padding(0, 10px, 0, 0);
}

.img-hotel {
    @include margin(0, 10px);
}

.img-banner {
    @include margin(0, 20px);
}

.blog-autor {
    font-size: 15px;
}

.tab-content {
    @include padding(10px, 0, 0, 0);
}