.jumbotron {
  background-color: #f3ed71;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 50px; }

.card-hotel {
  flex: 1 250px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 2px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  border: none;
  background-color: #f0f0e4; }

.btn-reserva {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0; }

footer {
  background-color: #f3ed71;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0; }

.footer-icon {
  padding-top: 0;
  padding-bottom: 10px;
  padding-right: 0;
  padding-left: 0; }

.img-hotel {
  margin-top: 0;
  margin-bottom: 10px; }

.img-banner {
  margin-top: 0;
  margin-bottom: 20px; }

.blog-autor {
  font-size: 15px; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0; }

/*# sourceMappingURL=style.css.map */
